jade/5.jade
doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
		link(rel="stylesheet" href="css/styles.css")
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:300,400,700')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oswald')
		script(src='js/jquery-1.8.3.min.js')
		script(src="js/scripts.js")
		body
			div.container#content
				article(data-url="5.html" data-title="pagina6.html")
					h1 Titulo articulo 5
					p Morbi eget tristique dui. Vivamus nec turpis eu nisi euismod accumsan sed in tortor. Maecenas laoreet leo ut tortor viverra facilisis.
					.panel-article
						.featured
							img(src="http://lorempixel.com/250/206/sports/1")

5.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald">
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/scripts.js"></script>
    <body>
      <div id="content" class="container">
        <article data-url="5.html" data-title="pagina6.html">
          <h1>Titulo articulo 5</h1>
          <p>Morbi eget tristique dui. Vivamus nec turpis eu nisi euismod accumsan sed in tortor. Maecenas laoreet leo ut tortor viverra facilisis.</p>
          <div class="panel-article">
            <div class="featured"><img src="http://lorempixel.com/250/206/sports/1"></div>
          </div>
        </article>
      </div>
    </body>
  </head>
</html>
