otro-demo.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald">
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery.infinitescroll.js"></script>
    <script src="js/manual-trigger.js"></script>
    <script src="js/debug.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
    <body>
      <div id="content">
        <p>Pese a que ganó sus últimos dos juegos, Maurice Cheeks fue despedido.</p>
        <p>Los Pistones de Detroit anunciaron este domingo el despido de su entrenador Maurice Cheeks, pese a las dos victorias seguidas logradas en los últimos partidos y la remontada en la tabla de posiciones del campeonato de la NBA.</p>
        <p>Después de un decepcionante inicio de la temporada y 50 partidos al frente de la franquicia, con récord de 29 victorias y 21 derrotas, Cheeks parecía haber encaminado a su equipo por el triunfo, tras ascender al noveno lugar en la Conferencia Este, </p>
        <p>con una victoria el sábado sobre los Bobcats de Charlotte.</p>
        <p>"Nuestra calificación no refleja nuestro talento y sólo tenemos que cambiar", dijo el dueño de los Pistones, Tom Gores.</p>
        <p>El club, tercero en la División Central, no dijo quién reemplazaría a Cheeks, que había entrenado previamente a Portland (2001-2005) y Filadelfia (2005-2009), a los que clasificó a los playoffs en 2002, 2003 y 2008.</p>
      </div><a href="scroll-demo.html" id="next" class="next">Next page</a>
    </body>
  </head>
</html>

jade/otro-demo.jade
doctype html
html.no-js
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
		link(rel="stylesheet" href="css/styles.css")
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:300,400,700')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oswald')
		script(src='js/jquery-1.8.3.min.js')
		script(src="js/jquery.infinitescroll.js")
		script(src="js/manual-trigger.js")
		script(src="js/debug.js")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js")

		body
			div#content
				p Pese a que ganó sus últimos dos juegos, Maurice Cheeks fue despedido.
				p Los Pistones de Detroit anunciaron este domingo el despido de su entrenador Maurice Cheeks, pese a las dos victorias seguidas logradas en los últimos partidos y la remontada en la tabla de posiciones del campeonato de la NBA.
				p Después de un decepcionante inicio de la temporada y 50 partidos al frente de la franquicia, con récord de 29 victorias y 21 derrotas, Cheeks parecía haber encaminado a su equipo por el triunfo, tras ascender al noveno lugar en la Conferencia Este, 
				p con una victoria el sábado sobre los Bobcats de Charlotte.
				p "Nuestra calificación no refleja nuestro talento y sólo tenemos que cambiar", dijo el dueño de los Pistones, Tom Gores.
				p El club, tercero en la División Central, no dijo quién reemplazaría a Cheeks, que había entrenado previamente a Portland (2001-2005) y Filadelfia (2005-2009), a los que clasificó a los playoffs en 2002, 2003 y 2008.
			a(href='scroll-demo.html' id='next').next Next page


	
