prueba.html

<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald"/>
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/miscript.js"></script>
    <script src="js/scripts.js"></script>
  </head>
  <body>
    <div id="nav">
      <ul>
        <li><a href="1.html" id="uno">uno</a></li>
        <li><a href="2.html" id="dos">dos</a></li>
        <li><a href="3.html" id="tres">tres</a></li>
      </ul>
    </div>
  </body>
</html>

jade/prueba.jade
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
		link(rel="stylesheet" href="css/styles.css")
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:300,400,700')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oswald')
		script(src='js/jquery-1.8.3.min.js')
		script(src="js/miscript.js")
		script(src="js/scripts.js")
	body
		#nav
			ul
				li
					a(href='1.html' id='uno') uno
				li
					a(href='2.html' id='dos') dos
				li
					a(href='3.html' id='tres') tres
	
